body{
    background-color: darkslategray;
    font-family: "Playwrite DK Loopet", cursive;
    font-optical-sizing: auto;
}

h1{
    color: skyblue;
    text-align: center;
    text-shadow: 5px 0 #232931;
    font-size: 5rem;
}

.container{
    text-align: center;
    margin: auto;
    width: 70%;
}

.dice{
    text-align: center;
  display: inline-block;
}

img{
    width: 80%;
}

p{
    font-size: 2rem;
}

